[core]
	excludesfile = /home/marc/.gitignore_global
	editor = /usr/local/bin/vim
[user]
	name = Marc Jou
	email = smyslov@gmail.com
[rerere]
    enabled = true
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
    required = true
;[diff]
	;external = /Users/senyorjou/.git_diff_cmd.sh
[alias]
    st = status
    co = checkout
    b = branch -av
    aa = add --all
	ap = add --patch
	ca = commit --amend
	ci = commit -v
	co = checkout
	#create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
	#delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
	st = status
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
    lg = log --oneline --graph --decorate
[push]
	default = simple
[commit]
	template = /Users/senyorjou/.stCommitMsg
[diff]
	external = diff.py
[github]
	user = senyorjou
